*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: larger;
}

:root{
    --id:10;
}
html{
    min-height: 100vh;
}

body{
    position: relative;
    overflow: hidden;
    background-color: #313131;
}

.grid-container{
    margin: 10px;
    width: 98%;
    min-height: 98vh;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    z-index: 0;
}

.gridItem{
    border: 0.3px solid #ffffff40;
    z-index: inherit;
}

.root{
    border: 2px solid #66ff00;
    background-color: #000000;
    box-shadow: rgba(21, 255, 0, 0.25) 0px 15px 55px, rgba(81, 255, 0, 0.12) 0px -12px 30px, rgba(47, 255, 0, 0.12) 0px 4px 6px, rgba(64, 255, 0, 0.198) 0px 12px 13px, rgba(0, 255, 0, 0.09) 0px -3px 5px;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.decision{
    background-color: #000000;
    border: 2px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 15px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.198) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}


.cost{
    background-color: #000000;
    border: 2px solid #ff0000;
    box-shadow: rgba(255, 0, 0, 0.25) 0px 15px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.198) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}


.line{
    z-index: 1;
    position:absolute;
    width:5px;
    margin-top:-1px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

/*  Toggle details*/

.node{
    position: relative;
}

.node:hover{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    /* color: #333; */
    cursor: pointer;
    transform: scale(1.05);
}
.node.details::before{
    font-size: medium;
    align-items: baseline;
    text-align: start;
    content: attr(details);
    position: absolute;
    width: 210%;
    min-height: 100%;
    top:0;
    left: -220%;
    background-color: #9777bf;
}