<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/loading.css">
    <title>Maps</title>
</head>
<body>
    <div class="gridContainer"></div>
    <div class="mega-container maps-container">
        <div class="menu">
            <button class="but sharebut">Shares</button>
            <button class="but decisionbut active">Decision</button>
            <button class="but mapsbut">Maps</button>
        </div>
        <div class="title">
            <h1>Enter the locations: </h1>
        </div>
        <!-- <div class="decision"></div> -->
        <form>
            <label class="loclabel">From: </label>
            <textarea class="loc loc1" type="text" name="loc1"></textarea>
            <label class="loclabel">To: </label>
            <textarea class="loc loc2" type="text" name="loc2"></textarea>
            <br><br>
            <input class="formSubmit" type="submit" value="Create Tree">
            
        </form>
        <!-- <i class="fa-solid fa-bars"></i> -->
        <div class="result"></div>
    </div>    

    <script type="module" src="../js/scriptMapsForm.js"></script>
    <script src="../js/formDataDecision.js"></script>
</body>
</html>