<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>ChoiceFoliage - Share Input</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="gridContainer "></div>
    <div class="mega-container sharesContainer">

        <div class="menu">
            <button class="but sharebut active">Shares</button>
            <button class="but decisionbut">GPT decision</button>
        </div>

        <div class="title">
            <h1>Share performance Analyzer (BETA)</h1>
            <p style="font-size: small;">(Select atlease one share)</p>
            
        </div>
        
        
        <form action="#">


            <label class="">Share 1:<input list="shares" type="text" class="share1 listDisplay" name="share1" placeholder="Search for company or symbol"></label>
            
            <label class="">Share 2:<input list="shares" type="text" class="share2 listDisplay" name="share2" placeholder="Search for company or symbol"></label>

            <label class="">Share 3:<input list="shares" type="text" class="share3 listDisplay" name="share3" placeholder="Search for company or symbol"></label>

            <datalist id="shares">

            </datalist>

            <input class="formSubmit" type="submit" value="Create Tree">

        </form>
        
        <!-- <i class="fa-solid fa-bars"></i> -->
        <div class="result"></div>
        <div class="note" style="font-size: small; padding: 10px; border-radius: 3px; background-color: rgba(252, 53, 53, 0.236);margin-top: 10px; border: 1px solid red;">
            <blockquote>Please Note:</blockquote> This is NOT a stock price predictor and is not accurate for companies with less than three years of history. A positive answer represents a net profit while the contrary is true for a  negative answer.
        </div>
    </div>    

    <!-- <script type="module" src="../js/shares.js" defer></script> -->
    <script type="module" src="../js/scriptShareForm.js" defer></script>
    <script src="../js/formDataShares.js" defer></script>
</body>
</html>
