<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="gridContainer"></div>
    <div class="mega-container">
        <div class="menu">
            <button class="but sharebut">Shares</button>
            <button class="but decisionbut active">Decision</button>
            <button class="but mapsbut">Maps</button>
        </div>
        <div class="title">
            <h1>Enter Your Question Here:</h1>
        </div>
        <!-- <div class="decision"></div> -->
        <form>
            <textarea class="question" type="text" name="query"></textarea>
            <input class="formSubmit" type="submit" value="Create Tree">
            
        </form>
        <!-- <i class="fa-solid fa-bars"></i> -->
        <div class="result"></div>
    </div>    

    <script type="module" src="../js/scriptDecisionForm.js"></script>
    <script src="../js/formDataDecision.js"></script>
</body>
</html>
